* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background: #222;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #0000FF, #ADD8E6);
    color: #fff;
    margin: 50px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: black;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search input:hover {
    border: 2px solid black;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button:hover {
    border: 2px solid black;
}

.search button img {
    width: 16px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.weather h3 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
    margin-bottom: 15px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

.error h1 {
    margin: 0 auto 10px;
    color: gold;
    text-shadow: 1px 1px 1px black;
}

.title {
    display: block;
    margin-top: 25%;
    margin-bottom: 10%;
    color: gold;
    text-shadow: 1px 1px 1px black;
}

.title img {
    width: 150px;
    height: 150px;
    margin-top: 20px;
}

@media (max-width: 375px) {

    html, body {
        min-height: 100vh;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .card {
        border-radius: 0px;
        margin: 0 auto;
        width: 100vw;
        min-height: 100vh;
        min-width: 320px;
        padding: 25px 15px;
        background: linear-gradient(135deg, #0000FF, #ADD8E6);
    }
    
    .col img {
        width: 50px;
    }

    .humidity, .wind {
        margin-top: -4px;
    }

    .search button img {
        width: 14px;
    }
    
    .weather-icon {
        width: 170px;
        margin-top: 40px;
        margin-bottom: 30px;
    }
    
    .weather h1 {
        margin-top: 20px;
    }
    
    .weather h2 {
        font-size: 40px;
        font-size: 45px;
    }
    
    .weather h3 {
        margin-top: 25px;
    }

    .search input {
        height: 40px;
        font-size: 16px;
    }
    
    .search button {
        width: 40px;
        height: 40px;
    }

    .details {
        display: block;
        justify-items: center;
        justify-content: none;
        margin-bottom: 50px;
    }

    .col {
        margin-top: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
    }

    .labels {
        font-size: 20px;
    }
}

@media (max-width: 425px) and (min-width: 376px) {
    
    html, body {
        min-height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    .card {
        border-radius: 0px;
        width: 100vw;
        margin: 0 auto;
        min-height: 100vh;
        padding: 30px 20px;
        background: linear-gradient(135deg, #0000FF, #ADD8E6);
    }
    
    .col img {
        width: 60px;
    }

    .humidity, .wind {
        margin-top: -5px;
    }

    .search button img {
        width: 15px;
    }
    
    .weather-icon {
        width: 180px;
        margin-top: 50px;
        margin-bottom: 40px;
    }
    
    .weather h1 {
        margin-top: 25px;
    }
    
    .weather h2 {
        font-size: 50px;
    }
    
    .weather h3 {
        font-size: 25px;
        margin-top: 30px;
    }

    .search input {
        height: 50px;
        font-size: 17px;
    }
    
    .search button {
        width: 50px;
        height: 50px;
    }

    .details {
        display: block;
        justify-items: center;
        justify-content: none;
        margin-bottom: 50px;
    }

    .col {
        margin-top: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
    }

    .labels {
        font-size: 20px;
    }
}
